@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #2e42a7;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: blueviolet;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    font-weight: 600;
    display: block;
}


.menu .navbar ul li a:hover {
    color: blueviolet;

}

#menu{
    display: none;   
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    display: flex;
}

.header-txt{
    flex-basis: 50%;
}

.header-txt h1{

    font-size: 46px;
    width: 700px;
    height: 200px;
    margin: 0 auto; 
    text-align: center;
    display: flex;
    justify-content: top;
    align-items: top;

}

.btn-1-comencemos {
    position: absolute;
    top: 35%;
    left: 43%;
    padding: 11px 35px;
    border: 2px solid rgb(192, 58, 9);
    border-radius: 25px;
    
    
}

.imgfondo{
    width: 250px;
    height: 320px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

}

.imagenphone{
    padding: 1em;
    height: 300px;
    display: flex;
}

.imgphone {
    position: absolute;
    width: 250px;
    height: 355px;
    top: 46%;
    left: 40.5%;
    background-image: url(/imagen/fondotelefono.gif);
    background-repeat: round;
    border-radius: 27px 27px 0px 0px;
    z-index: 2;
}

.fondo{
    width: 1348px;
    height: 325px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 27px 27px 0px 0px;
    z-index: 0;
}

.hola{
    background-color: black;
}
