@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body{

    font-family: sans-serif;
}

.head {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: black;
    align-items: center;
    justify-content: center;
}

.navbar{
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px 20px;
}

.logo1{
    display: flex;
    top: 0;
    right: 0;
    left: 0;
}

.logo1-zt{
    display: block;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

.logo-container{
    display: flex;  
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.btm-accs1{
        background-color: blueviolet;
        border-radius: 8px;
        padding: 15px 30px;
}

.btm-accs1-text{
    color: white;
    text-decoration: none;
}

.btm-accs{
    display: flex;
    align-content: center;
}

.btm-accs2{
    background-color: blueviolet;
    display: block;
    border-radius: 8px;
    padding: 20px 40px;
    font-size: 1.3em;
}

.btm-accs2-text{
    color: white;
    text-decoration: none;
}

.btm-cmz{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20vh;
}

.title{
    height: 30vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-align: center;
}

.img-content{
    position: relative;
    width: 100%;
    height: 100%;
    
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25em;

}

.img2{
    position: absolute;
    top: -42px;
    left: 505px;
    z-index: 5;
    width: 21em;
}

.img3{
    position: absolute;
    top: 184px;
    left: 673px;
    width: 21em;
    height: 27em;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 25px 25px 0px 0px;
}

.ttle-solu{
    height: 30vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-align: center;
}

.info{
    background-color: #0B0D17;
}

.ttle-solu{
    color: white;
}

.box-container1{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: black;
    margin: 25px 20px;
    border-radius: 10px;
    color: black;
}

.box-container2{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    background-color: black;
    margin: 25px 20px;
    border-radius: 10px;
    color: black;
}

.box-txt1{
    background-color: white;
    display: flex;
    margin: 25px 20px;
    padding: 40px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.box-txt2{
    background-color: white;
    display: flex;
    margin: 25px 20px;
    padding: 40px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.box-txt3{
    background-color: white;
    display: flex;
    padding: 40px 32px;
    margin: 25px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.box-txt4{
    background-color: white;
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.box-txt5{
    background-color: white;
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.box-txt6{
    background-color: white;
    display: flex;
    padding: 40px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.expand-on-hover {
    transition: transform 0.3s ease;
  }