{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Zona Tecnologica</title>
</head>
<body>
    
    <div class="head">
        
        <div class="logo-container">
            <img class="logo1" src="{% static 'media/Logo.png'%}" alt="">
            <a class="logo1-zt" href="#">Zona Tecnologica</a>
        </div>

        <nav class="navbar">
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
            <a href="#">¿Qué ofrecemos?</a>
            <a href="#">Nuestros Clientes</a>
            <a href="#">Ayuda</a>
            <a href="#">Contacto</a>
        </nav>

        <div class="btm-accs">
            <button class="btm-accs1">
                <a class="btm-accs1-text" href="{% url 'loginPage' %}">Acceder</a>
            </button>
        </div>

    </div>

    <header class="content header">
        <h1 class="title">Tu oportunidad de entrar al <br> mundo de la tecnología, facil.</h2>

            <div class="btm-cmz">
                <button class="btm-accs2">
                        <a class="btm-accs2-text" href="#">Comencemos</a>
                </button>
            </div>

                <div class="img-content">
                    <img class="img1" src="{%static 'media/fondopantalla.gif'%}"  alt="">
                    <img class="img2" src="{%static 'media/marcoIphone.png'%}"  alt="">
                    <img class="img3" src="{%static 'media/ftelef.gif'%}" alt="">
                </div>

    </header>

    <section class="content info">
        <h1 class="ttle-solu">Soluciones para conectar <br> con tus usuarios</h1>

        <div class="box-container1">
                <div class="box-txt1">
                    <h2>
                        Aplicaciones Mobiles
                    </h2>
                        <p>Estas aplicaciones están diseñadas para aprovechar las características y capacidades de los dispositivos móviles.</p>

                        <div class="box-exp">
                            <button>
                                <a href="#">Explorar</a>
                            </button>
                        </div>
                </div>

                <div class="box-txt2">
                    <h2>
                        Aplicaciones Web
                    </h2>
                        <p>Sabemos lo importante que es tener una presencia en línea efectiva y atractiva, y nuestras aplicaciones web están diseñadas para cumplir con tus necesidades específicas.</p>

                        <div class="box-exp">
                            <button>
                                <a href="#">Explorar</a>
                            </button>
                        </div>
                </div>

                <div class="box-txt2">
                    <h2>
                        Diseñador de Interfaces de Usuarios
                    </h2>
                        <p>Ya sea que necesites una interfaz de usuario para una aplicación móvil, un sitio web o un software, nuestro talentoso equipo de diseñadores se encargará de crear una experiencia de usuario impactante y atractiva.</p>

                        <div class="box-exp">
                            <button>
                                <a href="#">Explorar</a>
                            </button>
                        </div>
                </div>
        </div>



        <div class="box-container2">
            <div class="box-txt4">
                <h2>
                    Estrategia y Marca
                </h2>
                    <p>Sabemos que la estrategia y el branding son elementos esenciales para el éxito de cualquier empresa. Nuestro objetivo es colaborar contigo para desarrollar una estrategia sólida que posicione tu marca de manera efectiva y conecte emocionalmente con tu público objetivo.</p>

                    <div class="box-exp">
                        <button>
                            <a href="#">Explorar</a>
                        </button>
                    </div>
            </div>

            <div class="box-txt5">
                <h2>
                    Marketing de Alto Rendimiento
                </h2>
                    <p>El Performance Marketing se trata de obtener resultados tangibles y medibles. Nuestro enfoque se basa en estrategias impulsadas por datos y en la optimización continua para garantizar que obtengas el mayor retorno de inversión posible.</p>

                    <div class="box-exp">
                        <button>
                            <a href="#">Explorar</a>
                        </button>
                    </div>
            </div>

            <div class="box-txt6">
                <h2>
                    Administracion de Proyectos
                </h2>
                    <p> Nuestro equipo de profesionales capacitados está listo para colaborar contigo y asegurarse de que tus proyectos se gestionen de manera fluida, dentro del presupuesto y en el tiempo previsto. </p>
                    
                    <div class="box-exp">
                        <button>
                            <a href="#">Explorar</a>
                        </button>
                    </div>
            </div>
    </div>



    </section>

    <section class="mundo_tecno">
        <div>
            <h1 class="text-m-t-1">Entra en el mundo de la tecnologia <br> con nosotros</h1>
        </div>

        <div class="container-content-content">

            <div class="img-contenedor">    
                <img class="img-contenedor1" src="{%static 'media/img1.png'%}" alt="">
                <img class="img-contenedor2" src="{%static 'media/img2.png'%}" alt="">
                <img class="img-contenedor3" src="{%static 'media/img3.png'%}" alt="">
            </div>  
    
            <div class="contido-text-contenido">
                <div class="container-content">
    
                    <div class="container-contenido-text1">
                        <h3 class="titulo-content1">
                            <img src="{%static 'media/dot.png'%}" alt="">
                            Transformacion Digital
                        </h3>
                        <p class="contenido-content1">Con nuestro equipo altamente calificado y experiencia en diversas industrias, podemos ayudarte a adaptarte y prosperar en la era digital.</p>
                    </div>
                
                    <div class="container-contenido-text2">
                        <h3 class="titulo-content2">
                            <img src="{%static 'media/dot.png'%}" alt="">
                            Servicios en la Nube
                        </h3>
                        <p class="contenido-content2">Estamos dedicados a proporcionar soluciones de almacenamiento, procesamiento y colaboración basadas en la nube para impulsar el crecimiento y la eficiencia de tu negocio.</p>
                    </div>
                
                    <div class="container-contenido-text3">
                            <h3 class="titulo-content3">
                                <img src="{%static 'media/dot.png'%}" alt="">
                                Asesoramiento
                            </h3>
                        <p class="contenido-content3">Nuestro equipo cuenta con profesionales altamente capacitados y con experiencia en diversas áreas de TI, incluyendo infraestructura de red, seguridad, análisis de datos, desarrollo de software y más. </p>
                    </div>
                </div>

            </div>
                  
        </div>

    </section>


    <section class="conteiner-section-back">
        <div class="container-container-title">
            <div class="contatiner-bene">
                <h1 class="title-contet-be">Beneficios de trabajar <br>con nosotros</h1>
            </div>
        </div>

        <div>
            <div>
                <div>
                    <div class="container-bn">
                        <h3 class="title-zh">Zonas Horarias, no es nada</h3>
                        <p class="contenido-title">Nuestro compromiso por dar una excelente atención trasciende a horarios 24/7.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>